h1, h2, h3, h4, h5 { font-weight: normal;}
article.post {  padding-bottom: 10px; margin-bottom: 20px}
article.post h4 { margin:0; padding: 0}
article.post p {margin: 20px 0 20px 0}
article.post p.post-meta { font-size:11px; margin-top: 0; }
article.post a.post-more { font-size:12px; margin-bottom:30px;}
article.post a.post-more.right { float: right}